.Chart{
    &-content{
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        &__chart{
            .recharts-wrapper{
                margin : 0 auto;
            }
        }
    }
}